@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/domine/v10/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X3LAI1g.woff2) format('woff2');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/domine/v10/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X0DAI1g.woff2) format('woff2');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/domine/v10/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X6zHI1g.woff2) format('woff2');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/domine/v10/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X5XHI1g.woff2) format('woff2');
}

